main.create-page {
  width: 100%;
  padding: 2rem 3rem;
  background-color: var(--primary-color);
}

main.create-page h1 {
  font-size: 2rem;
  margin: 1rem auto;
}

form.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

form.create-form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 4rem;
}

form.create-form input {
  width: 30rem;
  height: 4rem;
  border-radius: 10px;
  padding: 1rem;
}

form.create-form textarea {
  width: 100%;
  height: 8rem;
  border-radius: 10px;
  padding: 1rem;
}

form.create-form input[type="submit"] {
  width: 20rem;
  height: 3.5rem;
  border-radius: 20px;
  font-size: 1.5rem;
  border: none;
  color: var(--primary-color);
  background-image: linear-gradient(rgb(0, 236, 253), blue);
  letter-spacing: 2px;
}

form.create-form input[type="submit"]:hover {
  background-image: linear-gradient(blue, rgb(0, 236, 253));
}