.home-hero {
  width: 70%;
  height: 40rem;
  display: flex;
  justify-content: center;
  margin: 0 auto 5rem;
  position: relative;
  background-image: url(../assets/heroImage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.hero-message {
  background-color: var(--primary-color);
  width: 45%;
  height: max-content;
  padding: 30px;
  border-radius: 7px;
  position: absolute;
  left: 3rem;
  bottom: -50px;
  box-shadow: 5px 5px 15px gray;
}

.plates h6 {
  background-color: var(--tertiary-bg);
  color: var(--primary-color);
  width: max-content;
  padding: 7px;
  border-radius: 5px;
  margin: 0;
}

.author {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 15% 35% 40%;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: var(--author-font-color);
}

.avatar {
  width: 30px;
  height: 30px;
}

.hero-message h3 {
  margin: 5px 0;
  font-size: 25px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-posts {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.blog-card {
  width: 85%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  border: 0.1px solid var(--card-border-color);
  border-radius: 5px;
}

.blog-img {
  width: 100%;
  border-radius: 5px;
}

.blog-details {
  width: 100%;
  margin: 20px 0;
}

.view-more-btn {
  margin: auto;
  width: max-content;
  height: max-content;
  background-color: white;
  border: 3px solid var(--card-border-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-family: var(--primary-font-family);
  transition: 0.4s;
}

.view-more-btn:hover {
  background-color: var(--tertiary-bg);
  color: var(--primary-color);
  transition: 0.4s;
}