@media screen and (min-width: 800px) {
  .home-hero {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto 5rem;
    position: relative;
  }
}

@media screen and (max-width: 799px) {
  .home-hero {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto 5rem;
    position: relative;
  }
}

.home-hero img {
  width: 100%;
  border-radius: 10px;
}

.hero-message {
  background-color: var(--primary-color);
  /* width: 45%;
  height: max-content; */
  max-width: 60%;
  min-width: 45%;
  height: 15rem;
  padding: 30px;
  border-radius: 7px;
  position: absolute;
  left: 3rem;
  bottom: -50px;
  box-shadow: 5px 5px 15px gray;
}

.plates h6 {
  background-color: var(--tertiary-bg);
  color: var(--primary-color);
  width: max-content;
  padding: 7px;
  border-radius: 5px;
  margin: 0;
}

.plates h3 {
  /* font-size: 1.2rem; */
  font-size: 100%;
}

.author {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: var(--author-font-color);
}

.author div p {
  margin: 0.2rem;
}

.avatar {
  width: 4rem;
  /* height: 30px; */
}

.hero-message h3 {
  margin: 5px 0;
  font-size: 25px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 951px) {
  .blog-posts {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
  }
}

@media screen and (min-width: 446px) and (max-width: 950px) {
  .blog-posts {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 445px) {
  .blog-posts {
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.blog-posts .blog-card .blog-details .plates .author .avatar {
  width: 100%;
}

.blog-links {
  color: var(--primary-bg);
  text-decoration: none;
}

.blog-card {
  width: 98%;
  min-width: 10rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  border: 0.1px solid var(--card-border-color);
  border-radius: 5px;
  transition: 0.3s;
}

.blog-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}

.blog-img {
  width: 100%;
  border-radius: 5px;
}

.blog-details {
  width: 100%;
  margin: 20px 0;
}

.view-more-btn {
  margin: auto;
  width: max-content;
  height: max-content;
  background-color: white;
  border: 3px solid var(--card-border-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-family: var(--primary-font-family);
  transition: 0.4s;
}

.view-more-btn:hover {
  background-color: var(--tertiary-bg);
  color: var(--primary-color);
  transition: 0.4s;
}