.overview {
  width: 100%;
  height: 83.5vh;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}

.top-row {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.top-row div {
  width: 23rem;
  height: 15rem;
  border-radius: 20px;
  /* background-color: var(--tertiary-bg); */
  background-image: linear-gradient(to bottom right, red, blue);
  color: var(--primary-color);
  font-size: 1.5rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-row div span {
  font-size: 3em;
}

.bottom-row {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.bottom-row button {
  background-image: linear-gradient(to bottom right, red, blue);
  color: var(--primary-color);
  width: 20rem;
  height: 4rem;
  border-radius: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}