.single-posts-main h6 {
  font-size: 1em;
}

.single-posts-main h3 {
  font-size: 1.8rem;
}

.single-posts-main .author {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.single-posts-main .author div {
  width: 100%;
}

.post-image {
  width: 100%;
  margin: 2rem auto;
  border-radius: 20px;
}

@media screen and (min-width: 800px) {
  .post-text {
    margin: auto;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 799px) {
  .post-text {
    margin: auto;
    font-size: 1rem;
  }
}

@media screen and (max-width: 399px) {
  .post-text h3 {
    font-size: 1.5rem;
  }
}
