:root {
  --primary-color: #141624;
  --secondary-color: white;
  --secondary-bg: #F4F4F5;
  --card-border-color: #E8E8EA;
  --author-font-color: #97989F;
}

.App {
  background-color: var(--secondary-color);
  padding: 0 200px;
  color: var(--primary-color);
}

nav {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 10%;
  height: 100%;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.nav-list {
  width: 60%;
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-list ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-search {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  width: 60%;
  height: 30px;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.color-mode-btn {
  width: 15%;
  height: 4vh;
  border: none;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.color-mode-btn button {
  width: 60%;
  height: 90%;
  border: none;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.hero-image {
  width: 80%;
  height: 80vh;
  border-radius: 10px;
}

.hero-message {
  background-color: var(--secondary-color);
  width: 25%;
  height: 150px;
  padding: 30px;
  border-radius: 7px;
  position: absolute;
  left: 370px;
  top: 520px;
  box-shadow: 5px 5px 15px gray;
}

.plates h6 {
  background-color: #4B6BFB;
  color: var(--secondary-color);
  width: max-content;
  padding: 7px;
  border-radius: 5px;
  margin: 0;
}

.author {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 15% 35% 50%;
  align-items: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: var(--author-font-color);
}

.avatar {
  width: 30px;
  height: 30px;
}

.hero-message h3 {
  margin: 5px 0;
  font-size: 25px;
}

.blog-posts {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap ;
}

.blog-card {
  width: 20vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  border: 0.1px solid var(--card-border-color);
  border-radius: 5px;
}

.blog-img {
  width: 300px;
  border-radius: 5px;
}

.blog-details {
  width: 300px;
  margin: 20px 0;
}
